
.o_carpentry_planning {
    .o_carpentry_planning_dashboard {
        display: flex;
        justify-content: space-between;
    }

    .o_search_panel_field {
        .li:hover {
            background-color: 'secondary';
        }
    }

    // .o_kanban_record:not(:hover) .o_kanban_record_bottom {
    //     display: none;
    // }

    /* Hide 'No Data' banner, which appears when project has launch(es) and no
       planning card to display (plans, needs, etc...), but overlaps planning's tasks list
    */
    .o_view_nocontent {
        display: none;
    }
}

.o_search_panel.o_search_panel_large {
    width: 250px;
}
